@charset "UTF-8";
/*===============================================
common
===============================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "noto-sans-cjk-jp", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  background: #F5F5F5;
  color: #6B8663;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

a {
  color: #6B8663;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
a:hover, a:focus {
  opacity: 0.7;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

address {
  font-style: normal;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.inner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-top: 64px;
}
.section:last-child {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-top: 190px;
  }
  .section:last-child {
    margin-bottom: 156px;
  }
}

.section-heading {
  display: none;
}

/* SP用のスタイル */
.sp-only {
  display: block;
}

.pc-only {
  display: none;
}

/* PC用のスタイル */
@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
}
/* ボタン */
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  border: 1px solid transparent;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  font-size: inherit;
  padding: 0.5em 0;
  white-space: nowrap;
  transition: 0.3s;
}

.btn--arrow {
  position: relative;
}
.btn--arrow::after {
  content: "";
  display: inline-block;
  width: 113%;
  height: 5px;
  border-bottom: 1px solid #6B8663;
  border-right: 2px solid #6B8663;
  position: absolute;
  bottom: 0;
  left: -5px;
  transform: skew(65deg);
  transition: 0.3s ease-out;
}
@media (any-hover: hover) {
  .btn--arrow:hover::after, .btn--arrow:focus::after {
    width: 173%;
  }
}

/* subPage common */
.pageTop {
  margin-top: 70px;
  height: 186px;
  display: grid;
  place-items: end start;
}
@media screen and (min-width: 992px) {
  .pageTop {
    height: 346px;
    max-width: 1100px;
    width: 100%;
    margin: 100px auto 0;
  }
}
.pageTop__heading {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  color: #F5F5F5;
  font-size: 2.25rem;
  margin-left: 40px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .pageTop__heading {
    font-size: 3.5rem;
    margin-left: 90px;
    margin-bottom: 34px;
  }
}

/* tab,PC TEL発信無効 */
@media screen and (min-width: 567px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
/* img absolute common*/
[class*=__bgImg] {
  position: absolute;
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  [class*=__bgImg][data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 0.7;
  }
}
@media screen and (min-width: 768px) {
  [class*=__bgImg] {
    opacity: 1;
  }
}

/*===============================================
header
===============================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background: rgba(245, 245, 245, 0.8);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  width: 138px;
  flex-shrink: 0;
}
.header__logo a {
  display: block;
}
@media screen and (min-width: 992px) {
  .header {
    height: 100px;
  }
  .header__logo {
    width: 204px;
  }
}

/* ハンバーガーicon*/
.hamburger {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.hamburger:hover, .hamburger:focus {
  opacity: 0.7;
}
.hamburger__line {
  display: block;
  width: 28px;
  height: 2px;
  background: #6B8663;
  position: absolute;
  transition: transform 0.5s;
}
.hamburger__line:nth-of-type(1) {
  top: 16px;
}
.hamburger__line:nth-of-type(2) {
  top: 30px;
}
@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

/* ハンバーガーボタン開いた時 */
.hamburger[aria-expanded=true] .hamburger__line:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 23px;
}
.hamburger[aria-expanded=true] .hamburger__line:nth-of-type(2) {
  transform: rotate(45deg);
  top: 23px;
}

/* header-nav */
.headerNav__link {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .headerNav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
  }
  .headerNav__list {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 17vw;
    row-gap: 54px;
  }
  .headerNav__link {
    color: #F5F5F5;
    font-size: min(6.15vw, 2.125rem);
  }
}
@media screen and (min-width: 992px) {
  .headerNav__list {
    display: flex;
    align-items: center;
    -moz-column-gap: 80px;
         column-gap: 80px;
    padding-right: 48px;
  }
  .headerNav__link {
    font-size: 1.25rem;
  }
}
/*===============================================
overlay
===============================================*/
@media screen and (max-width: 991px) {
  .overlay {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(107, 134, 99, 0.8);
    z-index: 998;
  }
}

/*===============================================
sidebar
===============================================*/
/* nav-icon */
.sidebar {
  display: none;
  position: fixed;
  top: 105px;
  right: 65px;
  padding-right: calc((100vw - 1366px) / 2);
  z-index: 999;
}
.sidebar__list {
  position: relative;
}
.sidebar__list + .sidebar__list {
  margin-top: 60px;
}
.sidebar__list::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 88%;
  border-top: 2px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  position: absolute;
  bottom: -5px;
  left: 52px;
  transform: skewY(-65deg);
}
.sidebar__icon {
  width: 40px;
  height: 40px;
}
.sidebar__icon + .sidebar__icon {
  margin-top: 34px;
}
.sidebar__link {
  color: #F5F5F5;
}
.sidebar__link [class^=ri-] {
  display: block;
  font-size: 40px;
  margin-top: -10px;
}
@media screen and (min-width: 992px) {
  .sidebar {
    display: block;
    top: 121px;
    right: 0;
  }
  .sidebar-inner {
    padding: 2em 3em 2em 1em;
    border-radius: 15px 0 0 15px;
    background: rgba(245, 245, 245, 0.6);
  }
  .sidebar__list::after {
    border-top: 2px solid #6B8663;
    border-right: 1px solid #6B8663;
    transition: 0.5s ease-out;
  }
  .sidebar__list::after {
    height: 10%;
  }
  .sidebar__list:hover::after, .sidebar__list:focus::after {
    height: 90%;
  }
  .sidebar__link {
    color: #6B8663;
  }
}

/*===============================================
mv
===============================================*/
.mv {
  width: 100vw;
  margin-top: 70px;
}
.mv-inner {
  height: 577px;
}
.mv__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  .mv {
    max-width: 1100px;
    width: 100%;
    margin: 100px auto 0;
  }
}

/* mv swiper zoom-animation*/
@-webkit-keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.swiper-mv .swiper-slide-prev img, .swiper-mv .swiper-slide-active img, .swiper-mv .swiper-slide-duplicate-active img {
  -webkit-animation: zoom 10s linear 0s normal forwards;
          animation: zoom 10s linear 0s normal forwards;
}

/*===============================================
concept
===============================================*/
.concept {
  position: relative;
}
.concept__body {
  text-align: center;
}
.concept__title {
  font-size: 1.0625rem;
  line-height: 1.8;
}
.concept__texts {
  margin-top: 30px;
}
.concept__text {
  font-size: 0.875rem;
  line-height: 2;
}
.concept__text:nth-child(n+2) {
  margin-top: 14px;
}
.concept__img {
  width: min(81.3%, 538px);
  margin-top: 54px;
}
.concept__img img {
  aspect-ratio: 317/205;
  box-shadow: 18px -18px 0 rgba(107, 134, 99, 0.8);
}
.concept__bgImg1 {
  top: -60px;
  right: 0;
  width: 236px;
  opacity: 0.5;
}
.concept__bgImg2 {
  bottom: -139px;
  left: 8px;
  width: 143px;
}
@media screen and (min-width: 768px) {
  .concept__body {
    text-align: left;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 680px;
  }
  .concept__title {
    font-size: 1.75rem;
    line-height: 1.5;
    padding: 0.4em 0 0.4em 1.1em;
    text-shadow: #F5F5F5 3px 3px 10px;
    background: linear-gradient(90deg, #F5F5F5 0%, #F5F5F5 1%, transparent 100%);
  }
  .concept__texts {
    padding: 0.5em 0 0.5em 1.6em;
    text-shadow: #F5F5F5 2px 0 10px;
    background: rgba(245, 245, 245, 0.7);
    margin-top: 32px;
    margin-left: 135px;
  }
  .concept__img {
    margin-top: 32px;
  }
  .concept__img img {
    box-shadow: 31px -33px 0 rgba(107, 134, 99, 0.8);
  }
  .concept__bgImg1 {
    top: -134px;
    right: 43px;
    width: 36%;
    opacity: 1;
  }
  .concept__bgImg2 {
    bottom: -329px;
    left: 39px;
    width: 22.1%;
  }
}
@media screen and (min-width: 1200px) {
  .concept__body {
    margin-left: 6.8%;
  }
}

/*===============================================
feature
===============================================*/
.feature {
  margin-top: 95px;
}
.feature__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.feature__content._reverse {
  margin-top: 300px;
}
.feature__title {
  font-size: clamp(5rem, 16vw, 10rem);
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
}
._reverse .feature__title {
  text-align: right;
}
.feature__text {
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-top: 7px;
  padding-left: 16px;
}
.feature__imgs {
  margin-top: 46px;
}
.feature__img:nth-child(1) {
  aspect-ratio: 248/183;
  width: 70.8571428571%;
  margin-left: auto;
}
._reverse .feature__img:nth-child(1) {
  aspect-ratio: 1/1;
  width: 45.7142857143%;
  margin-left: 0;
}
.feature__img:nth-child(2) {
  aspect-ratio: 165/117;
  width: 47.1428571429%;
  margin-top: -45px;
}
._reverse .feature__img:nth-child(2) {
  aspect-ratio: 257/160;
  width: 73.4285714286%;
  margin-left: auto;
  margin-top: -29px;
}
.feature__img img {
  width: 100%;
  height: 100%;
}
.feature__bgImg1 {
  bottom: -306px;
  left: 0.24%;
  width: 242px;
  opacity: 1;
}
.feature__bgImg2 {
  bottom: -98px;
  right: 7px;
  width: 40%;
  opacity: 1;
}
.feature__bgImg3 {
  top: 310px;
  right: 17px;
  width: 34.28%;
  opacity: 1;
}
.feature__bgImg4 {
  bottom: -87px;
  left: 7px;
  width: 28%;
}
.feature__bgImg5 {
  bottom: -100px;
  right: 20px;
  width: 7.71%;
}
@media screen and (min-width: 768px) {
  .feature {
    margin-top: 280px;
  }
  .feature__content {
    flex-direction: row;
  }
  .feature__content._reverse {
    margin-top: 381px;
    flex-direction: row-reverse;
  }
  .feature__body {
    width: 45.4545454545%;
  }
  .feature__title {
    line-height: 1.2;
  }
  ._reverse .feature__title {
    text-align: left;
    margin-left: -18%;
  }
  .feature__text {
    font-size: 1rem;
    padding-left: 20%;
  }
  .feature__imgs {
    margin-top: 88px;
    width: 54.5454545455%;
  }
  .feature__img:nth-child(1) {
    aspect-ratio: 248/183;
    width: 71.1666666667%;
  }
  ._reverse .feature__img:nth-child(1) {
    aspect-ratio: 1/1;
    width: 46.8333333333%;
    margin-left: 0;
  }
  .feature__img:nth-child(2) {
    aspect-ratio: 165/117;
    width: 47.5%;
    margin-top: -87px;
  }
  ._reverse .feature__img:nth-child(2) {
    aspect-ratio: 257/160;
    width: 72.6666666667%;
    margin-left: auto;
    margin-top: -60px;
  }
  .feature__bgImg1 {
    bottom: -377px;
    left: 61px;
    width: 36.36%;
  }
  .feature__bgImg2 {
    bottom: -296px;
    right: 41px;
    width: 265px;
  }
  .feature__bgImg3 {
    top: 535px;
    right: 102px;
    width: 26.5%;
  }
  .feature__bgImg4 {
    bottom: -224px;
    left: 13px;
    width: 180px;
  }
  .feature__bgImg5 {
    bottom: -88px;
    right: 42px;
    width: 7.4%;
  }
}

/*===============================================
news
===============================================*/
.news {
  margin-top: 130px;
  margin-right: 5.128%;
  max-width: calc(50vw + 454px);
  background: linear-gradient(180deg, rgba(107, 134, 99, 0.8) 0%, rgba(107, 134, 99, 0.8) 50%, rgba(245, 245, 245, 0.8) 50%, rgba(245, 245, 245, 0.8) 0%);
  position: relative;
}
.news-inner {
  padding-top: 30px;
  padding-right: 9.4594594595%;
}
.news__thumb {
  aspect-ratio: 300/263;
}
.news__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.news__body {
  padding: 0.8em 0 1.2em 0.8em;
  background: #F5F5F5;
}
.news__date {
  font-size: 0.875rem;
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
}
.news__title {
  font-size: 0.875rem;
  margin-top: 8px;
}
.news__more {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: right;
  padding-right: 36px;
  margin-top: -30px;
}
@media screen and (min-width: 768px) {
  .news {
    margin-top: 350px;
    margin-right: 16.764%;
    background: linear-gradient(180deg, rgba(107, 134, 99, 0.8) 0%, rgba(107, 134, 99, 0.8) 60%, rgba(245, 245, 245, 0.8) 60%, rgba(245, 245, 245, 0.8) 0%);
  }
  .news-inner {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 12.7528583993%;
  }
  .news__date {
    font-size: 1rem;
  }
  .news__title {
    font-size: 1rem;
    margin-top: 10px;
  }
  .news__more {
    padding-right: 24px;
  }
}

/* news swiper */
.news-pagination {
  position: static;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.news-pagination .swiper-pagination-bullet {
  background: rgba(107, 134, 99, 0.8);
  width: 10px;
  height: 10px;
}
.news-pagination .swiper-pagination-bullet:focus {
  outline: 1px solid #6B8663;
  outline-offset: 2px;
}
@media screen and (min-width: 768px) {
  .news-pagination {
    text-align: right;
  }
}

.swiper-news .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-news .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0 0 20px;
}

/*===============================================
announce
===============================================*/
.announce {
  margin-top: 139px;
  position: relative;
}
.announce-inner {
  display: flex;
  flex-direction: column;
}
.announce__body {
  padding: 0 20px;
}
.announce__title {
  font-size: 1.5rem;
  text-align: center;
}
.announce__text {
  font-size: 0.875rem;
  line-height: 2;
}
.announce__text:nth-of-type(1) {
  margin-top: 26px;
}
.announce__text:nth-of-type(n+2) {
  margin-top: 10px;
}
.announce__img {
  width: 81.0256410256%;
  margin-left: auto;
  margin-top: 58px;
}
.announce__img img {
  aspect-ratio: 604/380;
  box-shadow: -19px -23px 0 rgba(107, 134, 99, 0.8);
}
.announce__bgImg1 {
  top: -100px;
  left: 2px;
  width: 139px;
}
.announce__bgImg2 {
  top: -14px;
  right: 0;
  width: 104px;
}
@media screen and (min-width: 768px) {
  .announce {
    margin-top: 234px;
  }
  .announce-inner {
    flex-direction: row;
  }
  .announce__body {
    padding: 0 0 0 16%;
    width: 50%;
  }
  .announce__title {
    font-size: 1.75rem;
    text-align: left;
  }
  .announce__text:nth-of-type(1) {
    margin-top: 35px;
    white-space: nowrap;
  }
  .announce__img {
    width: 50%;
    margin: 0px;
    padding-left: 5.857%;
  }
  .announce__img img {
    width: 604px;
    box-shadow: -35px -44px 0 rgba(107, 134, 99, 0.8);
  }
  .announce__bgImg1 {
    top: -185px;
    left: 41px;
    width: 209px;
  }
  .announce__bgImg2 {
    top: -70px;
    left: 41%;
    width: 11%;
  }
}

/*===============================================
footer
===============================================*/
.footer {
  height: 200px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.05);
}
.footer-inner {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 109px;
  flex-shrink: 0;
}
.footer__logo a {
  display: block;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
}
.footer-nav__list {
  display: flex;
  margin-left: 16px;
}
.footer-nav__item + .footer-nav__item {
  margin-left: 30px;
}
.footer-nav__link {
  font-size: 0.875rem;
}
.footer__address {
  font-size: 0.6875rem;
  line-height: 1.9;
  letter-spacing: 0.2em;
  text-align: center;
  font-style: normal;
  margin-top: 25px;
}
.footer__copyright {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
  text-align: center;
  margin-top: 22px;
}
@media screen and (min-width: 992px) {
  .footer {
    height: 155px;
  }
  .footer-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
  }
  .footer__logo {
    width: 158px;
  }
  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
  }
  .footer-nav__list {
    margin-left: 64px;
  }
  .footer-nav__item + .footer-nav__item {
    margin-left: 57px;
  }
  .footer-nav__link {
    font-size: 1.25rem;
  }
  .footer__address {
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: right;
    margin-top: 20px;
  }
  .footer__copyright {
    margin-top: 40px;
  }
}

/*===============================================
subPage Menu
===============================================*/
.pageTop._menu {
  background: url(../img/mv-menu.webp) no-repeat center center/cover;
}

.menu-inner {
  margin-top: 60px;
  margin-bottom: 53px;
}
.menu__catch {
  text-align: center;
  font-size: 0.875rem;
  line-height: 2.2;
  letter-spacing: 0.1em;
}
.menu__wrapper {
  margin-top: 46px;
}
.menu__section {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.menu__list {
  margin-top: 13px;
}
@media screen and (max-width: 767px) {
  ._dessert .menu__list {
    margin-top: -24px;
  }
}
.menu__title {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: clamp(3.125rem, 13vw, 6.25rem);
}
.menu__item {
  padding-left: 2.857vw;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu__item dt, .menu__item dd {
  margin-top: 12px;
}
.menu__item dt {
  font-size: 0.75rem;
  width: 70%;
}
.menu__item dd {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  text-align: right;
  width: 30%;
}
.menu__item dd::after {
  content: "yen";
  font-size: 0.75rem;
  padding-left: 5px;
}
.menu__subTitle {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 30px;
}
.menu__img {
  margin-top: 40px;
}
._main .menu__img {
  text-align: left;
}
._coffee .menu__img {
  text-align: right;
}
._tea .menu__img {
  width: 80.85%;
  margin-left: auto;
  margin-right: auto;
}
._dessert .menu__img {
  margin-top: 0px;
}
._alcohol .menu__img {
  text-align: center;
  margin-top: 65px;
}
@media screen and (max-width: 767px) {
  ._salad .menu__img {
    position: absolute;
    top: -52px;
    text-align: right;
  }
}
.menu__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
._salad .menu__img img {
  aspect-ratio: 160/115;
  width: 45.71%;
}
._main .menu__img img {
  aspect-ratio: 290/195;
  width: 82.86%;
}
._coffee .menu__img img {
  aspect-ratio: 252/159;
  width: 72%;
}
._tea .menu__img img:nth-child(1) {
  aspect-ratio: 1/1;
  width: 43.82%;
  position: relative;
}
._tea .menu__img img:nth-child(2) {
  aspect-ratio: 236/138;
  width: 83.39%;
  margin-top: -20px;
  margin-left: 46px;
}
._dessert .menu__img img {
  aspect-ratio: 167/184;
  width: 47.71%;
  margin-left: 43.14%;
}
._alcohol .menu__img img {
  aspect-ratio: 302/221;
  width: 90%;
}
.menu__bgImg1 {
  top: -123px;
  left: -39px;
  width: 144px;
}
.menu__bgImg2 {
  bottom: 259px;
  right: -10px;
  width: 100px;
}
.menu__bgImg3 {
  bottom: 187px;
  right: 58px;
  width: 118px;
}
.menu__note {
  font-size: 0.875rem;
  text-align: right;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .menu-inner {
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .menu__catch {
    font-size: 1rem;
    line-height: 2.5;
    letter-spacing: 0.2em;
  }
  .menu__wrapper {
    margin-top: 170px;
  }
  .menu__section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu__section._reverse {
    flex-direction: row-reverse;
  }
  .menu__title {
    line-height: 1.3;
  }
  .menu__list {
    margin-top: 0;
    width: 39.09%;
  }
  ._normal .menu__list {
    margin-left: 8.28%;
  }
  ._reverse .menu__list {
    margin-right: 8.28%;
  }
  .menu__item {
    padding-left: 13%;
    width: 100%;
  }
  .menu__item dt, .menu__item dd {
    margin-top: 26px;
  }
  .menu__item dt {
    font-size: 0.9375rem;
  }
  .menu__item dd {
    font-size: 1rem;
  }
  .menu__item dd::after {
    font-size: 0.875rem;
  }
  .menu__subTitle {
    font-size: 1.25rem;
    margin-top: 40px;
    margin-left: 27px;
  }
  ._alcohol .menu__subTitle:nth-of-type(1) {
    margin-top: 0px;
  }
  .menu__img {
    margin-top: 0;
    width: 50%;
  }
  ._salad .menu__img {
    text-align: right;
  }
  ._tea .menu__img {
    width: 50%;
  }
  ._alcohol .menu__img {
    margin-top: -390px;
  }
  ._salad .menu__img img {
    width: 70.36%;
  }
  ._main .menu__img img {
    width: 92.36%;
  }
  ._coffee .menu__img img {
    width: 77.45%;
  }
  ._tea .menu__img img:nth-child(1) {
    width: 39.82%;
  }
  ._tea .menu__img img:nth-child(2) {
    width: 75.82%;
    margin-top: -42px;
    margin-left: 88px;
  }
  ._dessert .menu__img img {
    width: 44%;
    margin-left: 28%;
  }
  ._alcohol .menu__img img {
    width: 70%;
  }
  .menu__bgImg1 {
    top: -218px;
    left: -36px;
    width: 25%;
  }
  .menu__bgImg2 {
    bottom: 422px;
    right: 0;
    width: 179px;
  }
  .menu__bgImg3 {
    bottom: 25px;
    right: 0;
    left: 20px;
    width: 198px;
  }
  .menu__note {
    margin-top: 80px;
  }
}

/*===============================================
subPage Access
===============================================*/
.pageTop._access {
  background: url(../img/mv-access.webp) no-repeat center center/cover;
}

.access {
  margin-top: 60px;
  margin-bottom: 66px;
  position: relative;
}
.access-inner {
  display: flex;
  flex-direction: column;
}
.access__body {
  margin: 0 auto;
}
.access__address {
  font-size: 0.875rem;
  letter-spacing: 0.2em;
}
.access__tel {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  margin-top: 20px;
}
.access__hour {
  font-size: 0.875rem;
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  letter-spacing: 0.1em;
  margin-top: 40px;
}
.access__hourRow {
  display: flex;
  align-items: center;
}
.access__hourRow:nth-child(n+2) {
  margin-top: 24px;
}
.access__hourRow dt {
  text-transform: uppercase;
  width: clamp(128px, 11.2vw, 153px);
  flex-shrink: 0;
}
.access__btn {
  font-family: "Futura", "futura-pt", "Franklin Gothic Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 57px;
  position: relative;
  z-index: 1;
}
.access__info {
  margin-top: 60px;
}
.access__map {
  aspect-ratio: 1/1;
  width: min(93.143%, 374px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.access__map img {
  width: 100%;
  height: 100%;
}
.access__route {
  font-size: clamp(0.875rem, 1.6vw, 1rem);
  line-height: 2;
  letter-spacing: 0.2em;
  margin-top: 27px;
  text-align: center;
}
.access__bgImg {
  top: 193px;
  right: 0px;
  width: 52.56%;
}
@media screen and (min-width: 768px) {
  .access {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .access-inner {
    flex-direction: row-reverse;
  }
  .access__body {
    width: 50%;
    padding-left: 20px;
  }
  .access__address {
    font-size: 1rem;
  }
  .access__tel {
    margin-top: 21px;
  }
  .access__hour {
    margin-top: 46px;
    font-size: 1rem;
  }
  .access__hourRow:nth-child(n+2) {
    margin-top: 21px;
  }
  .access__btn {
    margin-top: 74px;
  }
  .access__info {
    margin-top: 0;
    width: 50%;
  }
  .access__route {
    margin-top: 17px;
  }
  .access__bgImg {
    top: 318px;
    right: 5.63%;
    width: 255px;
    opacity: 0.8;
  }
}