@use './config' as c;
@use './common';

/*===============================================
header
===============================================*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background: rgba(c.$color-sub, .8);
  
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    width: 138px;
    flex-shrink: 0;
    
    a {
      display: block;
    }
  }

  @include c.mq('pc') {
    height: 100px;

    &__logo {
      width: 204px;
    }
  }
}

/* ハンバーガーicon*/
.hamburger {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;

  &:hover,
  &:focus {
    opacity: .7;
  }

  &__line {
    display: block;
    width: 28px;
    height: 2px;
    background: c.$color-main;
    position: absolute;
    transition: transform 0.5s;

    &:nth-of-type(1) {
      top: 16px;
    }
    &:nth-of-type(2) {
      top: 30px;
    }
  }

  @include c.mq('pc') {
    display: none;
  }
}

/* ハンバーガーボタン開いた時 */
._open .hamburger__line{ 
  &:nth-of-type(1) {
    transform: rotate(-45deg);
    top: 23px;
  }
  &:nth-of-type(2) {
    transform: rotate(45deg);
    top: 23px;
  }
}

/* ハンバーガーメニュー展開時、背景を固定 */
body._open {
  scrollbar-gutter: stable;
  overflow: auto;
}
html._open {
  overflow: hidden
}

/* header-nav */
.headerNav__link {
  @include c.ffe();
}

@include c.mq('pc-down') {
  .headerNav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;

    &__list {
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-left: 17vw;
      row-gap: 54px;
    }

    &__link {
      color: c.$color-sub;
      font-size: min(6.15vw, c.fz(34));
    }
  }
}

@include c.mq('pc') {
  .headerNav {
    &__list {
      display: flex;
      align-items: center;
      column-gap: 80px;
      padding-right: 48px;
    }
  
    &__link {
      @include c.fz(20);
    }
  }
}

/*===============================================
overlay
===============================================*/
.overlay {
  @include c.mq('pc-down') {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(c.$color-main, .8);
    z-index: 998;
  }
}